*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Abril Fatface', cursive;
}
header{
  display: flex;
  position: fixed;
  background-color: #000000;
  width: 100vw;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  overflow: hidden;
      }
      a{
        gap: 5px;
        color: rgb(98, 0, 255);
        text-decoration: none;
        transform: scale(1.2);  
        cursor: pointer;
      }
      .links{
        display: flex;
        flex-direction: row;
        gap: 40px;
        font-size: 12pt;
      }
      header img{
        padding: 10px;
        border-radius: 50px;
        filter: contrast(1.4);
        cursor: pointer;
      }
      header img:hover{
        transform: scale(1.2);  
        cursor: pointer;
      }
.principal{
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  height: 100vh;
  width: 100vw;
  border-bottom: 1px solid #000000;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
      }
      h1{
        font-size: 45pt;
      }
      .textopag1{
        position: absolute;
        left: 10%;
      }
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
      }
      .border {
        height: 369px;
        width: 290px;
        background: transparent;
        border-radius: 10px;
        transition: border 1s;
        position: relative;
      }
      .border:hover{
          border: 1px solid white;
      }
      .card{
        height: 379px;
        width: 300px;
        background: grey;
        border-radius: 10px;
        transition: 0.8s;
        overflow: hidden;
        background: black;
        box-shadow: 0 70px 63px -60px #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
      }
      .card0{
        background: url('./imagens/Jura.jpeg') center no-repeat;  
        background-size: 300px;
      }
      .card0:hover{
          background: url('./imagens/Jura.jpeg') center center;
          background-size: 400px;
      }
      .card1{
        background: url('./imagens/Jean.JPG') center center no-repeat;
        background-size: 300px
      }
      .card1:hover{
          background: url('./imagens/Jean.JPG')  center no-repeat;
          background-size: 400px;
      }
      .card2{
        background: url('./imagens/Jean.JPG') center center no-repeat;
        background-size: 300px
      }
      .card2:hover{
          background: url('./imagens/Jean.JPG')  center no-repeat;
          background-size: 600px;
      }
      h2{
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: white;
        margin: 20px;
        opacity: 0;
        transition: opacity 1s;
      }